@font-face {
  font-family: 'iconfont';  /* project id 438581 */
  src: url('http://at.alicdn.com/t/font_438581_wrf6esh11431sjor.eot');
  src: url('http://at.alicdn.com/t/font_438581_wrf6esh11431sjor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_438581_wrf6esh11431sjor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_438581_wrf6esh11431sjor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_438581_wrf6esh11431sjor.svg#iconfont') format('svg');
}
body{
	background-color: #f5f5f5;
}
.iconfont{
	font-family: iconfont;
	font-style: normal;
}
header{
	width: 100%;
	height: 0.45rem;
	background-color: rgba(255, 255, 255, 1.0);
	display: flex;
	padding-top: 0.10rem;
	padding-left: 0.05rem;
	padding-right: 0.05rem;
	justify-content: space-between;
	position: fixed;
	z-index: 999;
	border-bottom: 1px #e5e5e5 solid;
}
.saoyisao{
	display: inline;
	width: 0.30rem;
	height: 0.30rem;
}
.saoyisao i{
	float: left;
	font-size: 0.20rem;	
	color: #474c56;
	margin-left: 0.05rem;
}
.saoyisao p{
	float: left;
	font-size: 0.007rem;
	color: #474c56;
}
.sousuolan{
	width: 2.4rem;
	height: 0.3rem;
	background-color: #f0f2f5;
	border-radius: 0.15rem;
	border: none;
}
.xiaoxi{
	display: inline;
	width: 0.30rem;
	height: 0.30rem;
}
.xiaoxi i{
	float: left;
	font-size: 0.20rem;	
	color: #474c56;
	margin-left: 0.05rem;
}
.xiaoxi p{
	float: left;
	font-size: 0.007rem;
	color: #474c56;
	margin-left: 0.06rem;
}
.di{
	width: 100%;
	height: 0.45rem;
	background-color: #f0f0f0;
	position: fixed;
	left: 0px;
	bottom: 0px;
	justify-content: space-between;
	display: flex;
	padding-top: 0.09rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	z-index: 999;
}
.diicon{
	float: left;
	font-size: 0.19rem;
	color: #5d5f6a;
}
.dineirong{
	width: 0.23rem;
	height: 0.34rem;
}
.dineirong:nth-child(2){
	margin-left: 0rem;
}
.dineirong:nth-child(2) i{
	color: #f23030;
} 
.dineirong:nth-child(2) p{
	color: #f23030;
}
.dineirong p{
	float: left;
	font-size: 0.09rem;
	color: #5d5f6a;
}
.cebianlan{
/* 	background-color: white; */
	position: fixed;
/* 	position: absolute; */
	top: 0.45rem;
	bottom: 0.45rem;
	left: 0;
	width: 25%;
	z-index: 999;
}
.cebianlan ul{
	width: 100%;
	height: 100%;
}
.cebianlan li{
	width: 100%;
	height: 12.5%;
	background-color: white;
	border-top: 1px #e5e5e5 solid;
	border-right: 1px #e5e5e5 solid;
}
.cebianlan a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: white;
}
.cebianlan li:first-child{
	border-top: none;
}
.cebianlan li:last-child{
	border-bottom: 1px #e5e5e5 solid;
}
.cebianlan li a h1{
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	float: left;
	font-size: 0.13rem;
	color: #5d5f6a;
}
.neirong{
	position: relative;
	float: right;
	padding-bottom: 0.45rem;
	width: 75%;
	height: auto;
}
.neirong ul{
	width: 100%;
	height: 100%;
}
.fenleineirong{
	position: absolute;
	width: 100%;
	height: auto;
	padding-left: 0.1rem;
	padding-top: 0.4rem;
}
.fenleiwenzi{
	float: left;
	display: block;
	width: 2.2rem;
	height: 0.85rem;
/* 	margin-top: 0.4rem; */
}
.zhuanchang{
	float: left;
	width: 100%;
	height: auto;
	margin-top: 0.4rem;
}
.zhuanchang h1{
	float: left;
	font-size: 0.11rem;
}
.zhuanchangneirong{
	float: left;
	margin-top: 0.11rem;
	width: 100%;
	height: 1.3rem;
	background-color: white;
	display: flex;
	padding: 0 0.16rem;
	justify-content: space-between;
	flex-wrap: wrap;
}
.zhuanchangneirong li{
	width: 0.65em;
	height: 1.3rem;
}
.zhuanchangneirong li a{
	width: 0.65em;
	height: 1.3rem;
}
.zhuanchangneirong a{
	float: right;
	height: 0.11rem;
	width: 0.5rem;
}
.zhuanchang h2{
	font-size: 0.11rem;
	float: right;
	color: black;
}
.remenneirong{
	float: left;
	margin-top: 0.11rem;
	width: 100%;
	height: 1.3rem;
	background-color: white;
	display: flex;
	padding: 0 0.16rem;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 0.5rem;
}
.remenneirong li{
	width: 0.6rem;
	height: 1.01rem;
}
.remenneirong li a{
	width: 0.65em;
	height: 1.3rem;
}
.remenneirong a{
	float: right;
	height: 0.11rem;
	width: 0.5rem;
}